<ul class="main-header__item-list navbar-nav">
  <!-- <app-navigation-item
    *ngFor="let navItem of navItems; let index=index"
    [link]="navItem.link"
    [text]="navItem.text"
  ></app-navigation-item> -->

  <li
    *ngFor="let navItem of navItems; let index = index"
    class="main-header__item nav-item px-4 text-nowrap"
  >
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: navItem.exact}" [routerLink]="navItem.link">{{
      navItem.text
    }}</a>
  </li>
</ul>
