<app-pokedex-wrapper [message]="message" [isDetails]="isDetails">
  <router-outlet></router-outlet>

  <div class="row d-flex justify-content-center mt-5">
    <div
      *ngFor="let pokemon of pokemons"
      class="col-12 col-sm-11 col-md-8 col-lg-6"
    >
      <app-card [pokemon]="pokemon"></app-card>
    </div>
    <div
      *ngIf="!isLoading && pokemons.length === 0"
      class="col-12 col-sm-11 col-md-8 col-lg-6 mt-4 text-center font-weight-bold"
    >
      Nenhum Pokémon encontrado.
    </div>
  </div>
</app-pokedex-wrapper>
