<!-- <app-pokedex-wrapper
  *ngIf="!isLoading && pokemons.length > 0; else loading"
  [message]="wrapperMessage"
  [isDetails]="isDetails"
>
  <div class="container pokedex mt-3 pt-2">
    <app-poke-search
      *ngIf="isSearch"
      [inputChanged]="inputChanged"
    ></app-poke-search>
  </div>
  <div class="row d-flex justify-content-center mt-5">
    <div
      *ngFor="let pokemon of pokemons"
      class="col-12 col-sm-11 col-md-8 col-lg-6"
    >
      <app-card [pokemon]="pokemon"></app-card>
    </div>
  </div>
</app-pokedex-wrapper> -->

<app-pokedex-wrapper
  *ngIf="!isLoading && pokemons.length > 0; else loading"
  [message]="message"
  [isDetails]="isDetails"
>
  <div class="container pokedex mt-3 pt-2">
    <app-poke-search
      *ngIf="isSearch"
      [inputChanged]="inputChanged"
    ></app-poke-search>
  </div>
  <div class="row d-flex justify-content-center mt-5">
    <div
      *ngFor="let pokemon of pokemons"
      class="col-12 col-sm-11 col-md-8 col-lg-6"
    >
      <app-card [pokemon]="pokemon"></app-card>
    </div>
  </div>
</app-pokedex-wrapper>

<ng-template #loading></ng-template>

<!-- <div>TEST 8</div> -->

<!-- <app-pokedex-wrapper #loading [message]="wrapperMessage" [isDetails]="true">
  <app-spinner></app-spinner>
</app-pokedex-wrapper> -->
