<nav class="navbar navbar-dark navbar-expand">
  <!-- <div class="container navbar-container">
    <app-navigation-items></app-navigation-items>
    <img
      src="../../../../assets/angular-logo.png"
      alt="vue"
      className="vue-image d-none d-md-block"
    />
    <a
      href="https://github.com/nothingnothings/VueDex"
      rel="noreferrer"
      target="_blank"
    >
      <img
        src="../../../../assets/github-logo.png"
        alt="github-source-code"
        className="github-image d-none d-sm-block"
      />
    </a>
  </div> -->
</nav>
