<nav class="navbar navbar-dark navbar-expand">
  <div class="container navbar-container">
    <app-navigation-items></app-navigation-items>
    <img
      src="../../../../../assets/images/angular-logo.png"
      alt="vue"
      class="angular-image d-none d-md-block"
    />
    <a
      href="https://github.com/nothingnothings/AngularDex"
      rel="noreferrer"
      target="_blank"
    >
      <img
        src="../../../../../assets/images/github-logo.png"
        alt="github-source-code"
        class="github-image d-none d-sm-block"
      />
    </a>
  </div>
</nav>
