.main-header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.angular-image {
  height: 50px;
  position: absolute;
  margin-top: 0.1rem;
  right: 8rem;
}

.github-image {
  height: 40px;
  position: absolute;
  right: 3rem;
  top: -0.7rem;
}
