<div>
  <app-pokedex-wrapper
    *ngIf="!pokemon && isLoading;"
    [isDetails]="true"
    [message]="'Quem é esse Pokémon?'"
  >
    <app-spinner></app-spinner>
  </app-pokedex-wrapper>
  <app-pokedex-wrapper
  *ngIf="pokemon && !detailsIsError && !isLoading"
    [isDetails]="true"
    [message]="'Quem é esse Pokémon?'"
  >
    <app-pokemon-details-card [pokemon]="pokemon"></app-pokemon-details-card>
  </app-pokedex-wrapper>
  <app-error-component
    *ngIf="detailsIsError && !isLoading"
    [errorMessage]="detailsErrorMessage"
  ></app-error-component>
</div>
